body{
    text-align: center;
    background-color: #680909;
    color:#e59797;
}
p{
    color: #ffffff;
    font-size: 90px;
}
input{
    background-color:white;
    color: #000;
    font-size: 30px;
}
select{
    background-color: white;
    color: #000;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
label{
    font-size: 60px;
}
h2{
    font-size: 40px;
}
#enviar{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(248, 185, 185);
    color: #680909;
}